body {
  background-color: lightgray;
}

code {
  border-radius: 5px;
  background-color: black;
  color: lightgray;
  font-style: italic;
  font-weight: bold;
}
section {
  position: sticky;
  border-radius: 20px;
  margin-left: 1%;
  margin-right: 2%;
  bottom: auto;
  border: solid black 5px;
  padding-left: 1%;
  color: black;
}
